<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card">
                <div class="card-header"><h2>Forget</h2>
                    <div class="card-body">
                        <form [formGroup]="ForgotList">
                            <div class="form-group">
                        
                                <label for="" class="form-label">Enter your  Email Id</label>
                                <input type="email" formControlName="emailId" name="emailId" #email class="form-control" id="">
                            </div><br>
                           <button type="submit"  class="btn btn-danger" (click)="ForgotTs()">Submit</button>
                        
                        </form>
                        
                    </div>
                </div>
            </div>
           
          
           
        </div>
        <br>

  </div>

</div>
